/*
Copyright © 2024 The Flux Editor Contributors.

This file is part of Flux Editor.

Flux Editor is free software: you can redistribute it and/or modify it under the terms of the GNU General
Public License as published by the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Flux Editor is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Flux Editor. If not, see
<https://www.gnu.org/licenses/>.
*/

:root {
  --editor-fontSize: 1rem;
  --editor-lineHeight: 1.5rem;
}

@font-face {
  font-family: "meslo";
  src: url("../../assets/fonts/MesloLGS.woff2") format("woff2");
}

.lineNumber {
  direction: rtl;
  font-family: "meslo", monospace !important;
  font-size: var(--editor-fontSize);
  line-height: var(--editor-lineHeight);
}

.textarea,
.highlighted,
.highlighted * {
  font-family: "meslo", monospace !important;
  font-size: var(--editor-fontSize);
  line-height: var(--editor-lineHeight);
  border: none !important;
  border-radius: 0% !important;
  outline: none !important;
  resize: none;
  margin: 0 !important;
  padding: 0 !important;
  tab-size: 2;
  max-width: none;
}
