@font-face {
  font-family: "notosans";
  src: url("../../assets/fonts/NotoSansMono.ttf") format("truetype");
}

.lineNumber {
  direction: rtl;
  font-family: "notosans", monospace !important;
}

.textarea,
.highlighted {
  white-space: pre;
  display: flex;
  font-size: medium;
  flex-grow: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto !important;
}

.textarea,
.highlighted,
.highlighted * {
  font-family: "notosans", monospace !important;
  border: none !important;
  border-radius: 0% !important;
  outline: none !important;
  resize: none;
  margin: 0 !important;
  padding: 0 !important;
  tab-size: 2 !important;
  line-height: 1.5rem !important;
}
