/* inspired by Github Dark theme */

code[class*="language-"],
pre[class*="language-"] {
  background: none;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: var(--base-200);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.tag,
.token.namespace,
.token.deleted,
.token.operator,
.token.entity,
.token.url,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #b978f5;
}

.token.boolean {
  color: #f08d49;
}

.token.class-name,
.token.constant,
.token.symbol,
.token.function,
.token.function-name,
.token.property {
  color: #6fb5f3;
}

.token.string,
.token.attr-name,
.token.attr-value,
.token.selector,
.token.number,
.token.char,
.token.regex,
.token.variable {
  color: #9fee75;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}

/* colors for matching brackets */

.rainbow-braces .token.punctuation.brace-level-1,
.rainbow-braces .token.punctuation.brace-level-4,
.rainbow-braces .token.punctuation.brace-level-7,
.rainbow-braces .token.punctuation.brace-level-10 {
  color: #6fb5f3;
}
.rainbow-braces .token.punctuation.brace-level-2,
.rainbow-braces .token.punctuation.brace-level-5,
.rainbow-braces .token.punctuation.brace-level-8,
.rainbow-braces .token.punctuation.brace-level-11 {
  color: #9fee75;
}
.rainbow-braces .token.punctuation.brace-level-3,
.rainbow-braces .token.punctuation.brace-level-6,
.rainbow-braces .token.punctuation.brace-level-9,
.rainbow-braces .token.punctuation.brace-level-12 {
  color: #c090ec;
}
